.table {
					height: 600px;
					width: 800px;
					display: table;
					position: relative;
                    float:left;
                    background-color:rgb(17, 223, 161);
				}		

.tableCell {
					display: table-cell;
					vertical-align: middle;
					text-align: center;			
					padding: 10px;
					*position: absolute;
					*top: 50%;
					*left: 50%;
				}
.content {
					*position:relative;
					*top: -50%;
					*left: -50%;
					
				}
.level{
	display: none;
}
.hlt{
	display: none;
}
.hlta{
	background-color:#6495ED;
	width:250px;
	height:200px;
	float: left;
	
}
.hltb{
	background-color:rgb(190, 149, 36);
	width:250px;
	height:200px;
	float: left;
}
.hltc{
	background-color:rgb(59, 22, 228);
	width:250px;
	height:200px;
	float: left;
}
button{
	border-color:black;
}